@media only screen and (min-width: 768px) and (max-width: 990px){
    /* footer background */
    div.footerBack{
        width: 100%;
        height: 650px;
        position: absolute;
        object-fit: cover;
        background-color: #605d5d;
    }
    div.footerBack>img{
        width: 100%;
        height: 650px;
        object-fit: cover;
        opacity: 0.6;
    }
    /* end of footer back ground*/
    footer{
        width: 100%;
        height: 650px;
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    /*left side*/
    footer>div.left{
        width: 50%;
        height: 600px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
    }
    footer>div.left>h2{
        width: 50%;
        font-size: 60px;
        text-transform: uppercase;
        text-align: left;
    }
    footer>div.left>h2>span{
        color: #378cc4;
    }
    footer>div.left>p{
        text-align: center;
        font-size: 12px;
        width: 400px;
        color: white;
        padding-left: 15px;
        box-sizing: border-box;
    }
    footer>div.left>p:first-line{
        line-height: 40px;
    }
    footer>div.left>div{
        width: 50%;
        text-align: left;
    }
    footer>div.left>div>a{
        width: 25px;
        height: 25px;
        color: #d6c9c2;
        text-decoration: none;
        line-height: 25px;
        text-align: center;
        box-sizing: border-box;
        border: 2px solid #262525;
        transition: all 300ms linear;
    }
    footer>div.left>div>a:hover{
        border: 4px solid #30679f;
    }
    /* end of left side */

    /* right side */
    footer>div.right{
        width: 50%;
        height: 600px;

    }
    footer>div.right>label{
        width: 100%;
        height: inherit;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    footer>div.right>label>input{
        width: 150px;
        height: 60px;
        margin: 17.5px;
        padding-left: 20px;
        font-size: 12px;
        text-transform: capitalize;
        box-sizing: border-box;
        transition: all 300ms linear;
    }
    footer>div.right>label>textarea{
        width: 340px;
        height: 180px;
        resize: none;
        padding: 20px;
        margin: 17.5px;
        font-size: 12px;
        text-transform: capitalize;
        box-sizing: border-box;
        transition: all 300ms linear;
    }
    footer>div.right>label>input:nth-of-type(3){
        width: 150px;
        height: 50px;
        font-size: 14px;
        padding: 0;
        position: relative;
        left: 92.5px;
        background-color: #378cc4;
        color: white;
        border: 0;
        transition: all 300ms linear;
    }
    footer>div.right>label>input:nth-of-type(3):hover{
        background: aqua;
        color: #56504d;
    }
    /* end of right side */
    /* bottom */
    footer>div.bottom{
        width: 100%;
        height: 50px;
        background-color: black;
        color: white;
        font-size: 16px;
        text-transform: capitalize;
        text-align: center;
        line-height: 70px;
        overflow: hidden;
    }
    /* end of bottom */

}