@media only screen and (max-width: 540px){
    div.about{
        width: 100%;
        height: 580px;
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;

    }
    div.about>h1{
        width: 100%;
        height: 40px;
        font-size: 30px;
        text-align: center;
        font-weight: normal;
        text-transform: uppercase;
    }
    div.about>h1>span.us{
        color: #00a2e8;
        font-size: 30px;
    }
    div.about>div.content{
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    div.about>div.content>div{
        width: 25%;
        text-align: center;
    }
    div.about>div.content>div>img{
        width: 32px;
        height: 32px;
        padding: 20px;
        transition: all 300ms linear;
        overflow: hidden;
    }
    div.about>div.content>div>h3{
        font-size: 14px;
        font-weight: normal;
        padding: 15px;
        box-sizing: border-box;
        color: #605d5d;
        text-align: center;
        transition: all 300ms linear;
    }
    div.about>div.content>div>p{
        font-size: 10px;
        padding-top: 10px;
        box-sizing: border-box;
        text-align: justify-all;
        color: #605d5d;
        transition: all 300ms linear;
    }
    div.about>div.content>div:hover>h3{
        color: #00a2e8;
    }
    div.about>div.content>div:hover>img{
        border-radius: 10px;
        background-color: #00a2e8;
        opacity: 0.6;
        transform: scale(1.2);
    }
}